Exercise 1: Print First 10 natural numbers using while loop

In [2]:
i = 1
while (i <= 10):
    print(i)
    i+=1

2
3
4
5
6
7
8
9
10
11

Exercise 2: Print the following pattern<br/>
1 <br/>
1 2 <br/>
1 2 3 <br/>
1 2 3 4 <br/>
1 2 3 4 5 <br/>

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [8]:
given_num = 50
sum = 0

i = 1
while i <=50:
    sum = sum + i
    i+=1
print(sum)

1275

Exercise 4: Write a program to print multiplication table of a given number

In [11]:
num = int(input("Enter a number to print its table..."))

i = 1
while i <= 10:
    print(num * i,end="\n")
    i+=1

2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using loop <br/>
Write a program to display only those numbers from a list that satisfy the following conditions <br/>

1.  The number must be divisible by five <br/>
2.  If the number is greater than 150, then skip it and move to the next number <br/>
3.  If the number is greater than 500, then stop the loop <br/>

In [13]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers:
    if num > 500:
        break
    elif num > 150:
        continue
    elif num % 5 == 0:
        print(num,end="\n")

75
150
145

Exercise 6: Count the total number of digits in a number

In [17]:
number = 75869
count = 0
while number > 0:
    number = number // 10
    count+=1
print(count)

5

Exercise 7: Print the following pattern<br/>
5 4 3 2 1 <br/>
4 3 2 1 <br/>
3 2 1 <br/>
2 1 <br/>
1 <br/>

In [19]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Exercise 8: Print list in reverse order using a loop

In [20]:
list1 = [10, 20, 30, 40, 50]

for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop

In [23]:
for i in range(-10,0):
    print(i,end="\n")

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [24]:
for i in range(5):
    print(i*i)
else:
    print("Done!")

0
1
4
9
16
Done!

Exercise 11: Write a program to display all prime numbers within a range <br/> <br/>
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. <br/>
A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

In [27]:
start_range = 25
end_range = 50

for num in range(start_range, end_range+1):
    if num > 1 :
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms<br/><br/>
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.<br/>

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [33]:
num1 = 0
num2 = 1
for i in range(10):
    print(num1,end=" ")
    res = num1 + num2
    num1 = num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

Exercise 13: Find the factorial of a given number

In [34]:
number = 5
fact = 1
for i in range(1, number+1):
    fact = fact * i

print(fact)

120

Exercise 14: Reverse a given integer number

Exercise 15: Use a loop to display elements from a given list present at odd index positions